<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://alpha.demo.motorcycle-superstore.com/" />
    <add key="FirstName" value="OR US Bill and Ship" />
    <add key="AddressLine1" value="931 Chevy Way" />
    <add key="City" value="Medford" />
    <add key="PostalCode" value="97504" />
    <add key="Phone" value="541-555-5555" />
    <add key="Email" value="qatesting@motorcycle-superstore.com" />
    <add key="State" value="Oregon" />
    <add key="StateCode" value="OR" />
    <add key="USCountry" value="United States" />
    
    <add key="CardNumber" value="4111-1111-1111-1111" />
    <add key="ExpiryMonth" value="07 - July" />
    <add key="ExpiryYear" value="2020" />
    <add key="CVV" value="123" />

    <add key="KYFirstName" value="KY US Bill and Ship" />
    <add key="KYAddressLine1" value="501 Industry Road" />
    <add key="KYCity" value="Louisville" />
    <add key="KYPostalCode" value="40208" />
    <add key="KYState" value="Kentucky" />
    <add key="KYStateCode" value="KY" />

    <add key="FLFirstName" value="FL US Bill and Ship" />
    <add key="FLAddressLine1" value="253 Destination Daytona Ln" />
    <add key="FLCity" value="Ormond Beach" />
    <add key="FLPostalCode" value="32174" />
    <add key="FLState" value="Florida" />
    <add key="FLStateCode" value="FL" />

    <add key="TXFirstName" value="TX US Bill and Ship" />
    <add key="TXAddressLine1" value="538 W 21st St" />
    <add key="TXCity" value="Houston" />
    <add key="TXPostalCode" value="77008" />
    <add key="TXState" value="Texas" />
    <add key="TXStateCode" value="TX" />

    <add key="AEFirstName" value="APO AE Bill and Ship" />
    <add key="AEAddressLine1" value="CMR 459 Box 19204" />
    <add key="AECity" value="APO" />
    <add key="AEPostalCode" value="09139" />
    <add key="AEState" value="Armed Forces Europe" />
    <add key="AEStateCode" value="AE" />

    <add key="AKFirstName" value="AK US Bill and Ship" />
    <add key="AKAddressLine1" value="411 E Rezanof Dr" />
    <add key="AKCity" value="Kodiak" />
    <add key="AKPostalCode" value="99615" />
    <add key="AKState" value="Alaska" />
    <add key="AKStateCode" value="AK" />

    <add key="HIFirstName" value="HI US Bill and Ship" />
    <add key="HIAddressLine1" value="1975 E Vineyard St" />
    <add key="HICity" value="Wailuku" />
    <add key="HIPostalCode" value="96793" />
    <add key="HIState" value="Hawaii" />
    <add key="HIStateCode" value="HI" />

    <add key="ABFirstName" value="AB CA Bill and Ship" />
    <add key="ABAddressLine1" value="15 Pinnacle Ridge Dr" />
    <add key="ABCity" value="Calgary" />
    <add key="ABPostalCode" value="T3Z3N7" />
    <add key="ABCountry" value="Canada" />
    <add key="ABState" value="Alberta" />
    <add key="ABStateCode" value="AB" />
    <add key="ABCountryCode" value="CA" />

    <add key="BCFirstName" value="BC CA Bill and Ship" />
    <add key="BCAddressLine1" value="1946 Manning Ct" />
    <add key="BCCity" value="Kamloops" />
    <add key="BCPostalCode" value="V2E2R8" />
    <add key="BCState" value="British Columbia" />
    <add key="BCStateCode" value="BC" />

    <add key="NAFirstName" value="LDN UK Bill and Ship" />
    <add key="NAAddressLine1" value="41 Farm Street" />
    <add key="NACity" value="London" />
    <add key="NAPostalCode" value="W1J 5RP" />
    <add key="NACountry" value="United Kingdom" />
    <add key="NAState" value="NA" />
    <add key="NAPhone" value="44-20-7493-6841" />

    <add key="CMAFirstName" value="CMA UK Bill and Ship" />
    <add key="CMAAddressLine1" value="Muncaster Castle" />
    <add key="CMACity" value="Ravenglass" />
    <add key="CMAPostalCode" value="CA18 1RQ" />
    <add key="CMAState" value="Cumbria" />
    <add key="CMAStateCode" value="CMA" />
    <add key="UKCountryCode" value="GB" />
    <add key="UKPhone" value="+44 2074936841" />

    <add key="NSWFirstName" value="NSW AU Bill and Ship" />
    <add key="NSWAddressLine1" value="85 Willoughby Rd" />
    <add key="NSWCity" value="Crows Nest" />
    <add key="NSWPostalCode" value="2065" />
    <add key="NSWState" value="New South Wales" />
    <add key="NSWStateCode" value="NSW" />
    <add key="NSWCountry" value="Australia" />
    <add key="AUCountryCode" value="AU" />
    <add key="AUPhone" value="+61 207493684" />

    <add key="QLDFirstName" value="QLD AU Bill and Ship" />
    <add key="QLDAddressLine1" value="52 Morrison St" />
    <add key="QLDCity" value="Camooweal" />
    <add key="QLDPostalCode" value="4828" />
    <add key="QLDState" value="Queensland" />
    <add key="QLDStateCode" value="QLD" />

    <add key="PRFirstName" value="PR PR Bill and Ship" />
    <add key="PRAddressLine1" value="road 115 km 5.8" />
    <add key="PRCity" value="Anasco" />
    <add key="PRPostalCode" value="00610" />
    <add key="PRState" value="Puerto Rico" />
    <add key="PRStateCode" value="PR" />
    <add key="PRCountry" value="Puerto Rico" />

    <add key="CustomNotice" value="Notice: Applicable duty, tariffs and taxes are separate from the order total and will be collected at time of delivery." />
  </appSettings>
</configuration>